table {
  width: 100%;

  .mat-row {
    cursor: pointer;
  }

  .mat-row:hover {
    background: #673ab7;

    mat-cell {
      color: white !important;
    }
  }
}

mat-form-field {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 5px;
}
