.sidenav-container {
  height: 100%;
  background: url("/assets/bus-bg.jpg");
  background-size: cover;

  .mat-list-base .mat-list-item {
    color: white;
    font-size: 13px;
    transition: 0.3s;

    &:hover {
      background: rgba(255, 255, 255, .3);
    }

  }

  .app-title {
    color: white;
    width: 100%;

    a {
      background: none;
      color: white;
      margin: 0;
      display: block;
      padding: 15px 0px;
      position: relative;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;

      &:after {
        right: 15px;
        width: calc(100% - 30px);
        bottom: 0;
        height: 1px;
        content: "";
        position: absolute;
        background-color: hsla(0, 0%, 100%, .3);
      }
    }

  }
}

.sidenav.mat-drawer-side {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  border-right: none;
}

mat-toolbar {
  background-color: unset;
}

a {
  text-decoration: none;
  color: white;
}
.user-welcome {
  width: 100%;
  text-align: right;

  & {
    @media (max-width: 420px) {
      display: none;
    }
  }
}

.navbar-bg {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  padding: 0 16px;
}

.base-sidebar {
  background-image: url("/assets/menu-bg.jpg");
  transition: all 300ms linear;
  background-size: cover;
  background-position: center center;
}

.base-navbar {
  background-image: url("/assets/menu-bg.jpg") !important;
  background-position: 100% 100%;
  transition: all 300ms linear;
  background-size: cover;
  padding: 0;
}

::ng-deep {
  .mat-drawer-inner-container {
    background-color: rgba(0, 0, 0, .8);
  }
}
