<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav base-sidebar" fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <mat-toolbar>
          <span class="app-title">
            <a href="/">LW BUS</a>
          </span>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="javascript:void(0)" *ngFor="let btn of this.navbarSetup[this.as.AppMode]?.buttons" (click)="this.redirect(btn.route)">
              <mat-icon>{{btn.icon}}</mat-icon>
              &nbsp;{{btn.name}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="base-navbar">
          <span class="navbar-bg">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
<!--            <span><a routerLink="/">{{this.navbarSetup[this.as.AppMode]?.title}}</a></span>-->
          </span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
