<mat-card *ngIf="openedRoute" class="container">
  <mat-toolbar color="primary">
    <span>Trasa: {{openedRoute.id}}</span>
  </mat-toolbar>
  <div class="mat-elevation-z8">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p *ngIf="this.openedRoute.from"><b>Lokalizacja początkowa: </b>{{this.openedRoute.from.name}}</p>
      <p *ngIf="this.openedRoute.to && this.openedRoute.stops.length > 1"><b>Lokalizacja
        końcowa: </b>{{this.openedRoute.to.name}}</p>
    <div>
      <h4>Przebieg trasy</h4>
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let stop of openedRoute.stops" cdkDrag>
          <span>{{stop.id}}: {{stop.name}}</span>
          <mat-icon (click)="deleteStop(stop.id)" class="trash">delete</mat-icon>
        </div>
        <div class="actions">
          <button (click)="reverseStops()" type="button" class="add-stop" mat-raised-button color="primary"><mat-icon>loop</mat-icon></button>
          <button (click)="addStop()" type="button" class="add-stop" mat-raised-button color="primary"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </div>
      <div class="form-actions">
        <button class="save-btn" mat-raised-button color="primary">Zapisz zmiany</button>
        <button (click)="saveAsNew()" type="button" class="save-btn" mat-raised-button color="primary">Zapisz jako nową trasę</button>
        <button (click)="removeRoute()" type="button" class="save-btn" mat-raised-button color="warn">Usuń trasę</button>
      </div>

    </form>

  </div>
</mat-card>
